.blog-section {
    padding: 100px 0;
	background-image: url('img4.jpg');
}

.blog-content {
    max-width: 800px;
    margin: 0 auto;
}

.blog-content h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 30px;
}

.blog-content p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 20px;
}

.blog-content ol {
    list-style-type: decimal;
    margin-left: 20px;
}

.blog-content ol li {
    margin-bottom: 10px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
