.about-section {
    background-image: url('background img.webp');
	background-color: #333; /* Dark background color */
    color: #000000; /* Light text color */
    padding: 50px 0;
}

.about-content {
    max-width: 800px;
    margin: 0 auto;
}

.about-content h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 30px;
}

.about-content p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
